@import url("./common.css");


/* color-100 : cc*/
$color-100 : #0161da;

// ====================================DEFAULT MIXIN====================================
@mixin absolute-center {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
@mixin absolute-x($left, $top) {position: absolute;left: $left;top: $top;transform: translateX(-$left);}
@mixin absolute-y($left, $top) {position: absolute;left: $left;top: $top;transform: translateY(-$top);}
@mixin transition($x) {transition: $x;-webkit-transition: $x;-moz-transition: $x;-ms-transition: $x;-o-transition: $x;}
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin board_text {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $line;
    }
}
  @mixin clearfix {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

@mixin background_100 {background-color: #000;}
// ====================================DEFAULT MIXIN====================================


// ====================================JJ MIXIN====================================
@mixin fixed-layout {max-width: 1580px; width: 100%; margin: 0 auto; }
@mixin fixed-layout-subpage {max-width: 1360px;  width: 100%; margin: 0 auto;}
@mixin not_fixed_layout {max-width: 100%; width: 100%; margin: 0 auto;}
@mixin layoutBoxColor {border: 2px solid #f00;}
@mixin header-height {height: 100px;}
@mixin flexCenter { display: flex; justify-content: center; align-items: center; }
@mixin fullsize {width: 100%; height: 100%;}

// Margin
// Top
@mixin marginTop-120 {margin-top: 120px;}
@mixin marginTop-100 {margin-top: 100px;}
@mixin marginTop-80 {margin-top: 80px;}
@mixin marginTop-70 {margin-top: 70px;}
@mixin marginTop-40 {margin-top: 40px;}
@mixin marginTop-30 {margin-top: 30px;}


// Bottom
@mixin marginBot-120 {margin-bottom: 120px;}


// Padding
@mixin padding_1480 {padding: 0 5%;}

@mixin paddingTop-70 {padding-top: 70px;}
@mixin paddingTop-40 {padding-top: 40px;}



// FONT
@mixin font-M {font-family: 'Montserrat';}
@mixin font-R {font-family: 'Roboto';}
@mixin font-Nanum {font-family: 'Nanum Brush Script';}
@mixin font-gmark-bold {font-family: 'gmarket-b';}
@mixin font-gmark-m {font-family: 'gmarket-m';}
@mixin font-gmark-l {font-family: 'gmarket-l';}

@mixin font-40 { font-size: 40px;}
@mixin font-32 { font-size: 32px;}
@mixin font-18 { font-size: 18px; letter-spacing: -0.72px;}


@mixin subTextTit_01 {
    // font-size: 3.2rem;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.5; letter-spacing: -2.56px; text-align: center; 
}



// system mixin
@mixin boxTitle {
    cursor: pointer;
    @include transition(.15s);
    display: flex; align-items: center;
    height: 60px;
    border-radius: 80px; background-color: #fff;
}

@mixin textNum {
    @include transition(.15s);
    @include font-M();
    @include flexCenter();
    margin-left: 6px;
    width: 50px; height: 50px;
    background-color: $color-100; border-radius: 100%;
}
@mixin textTit {
    margin-left: 14px;
    font-size: 18px; font-weight: 500;letter-spacing: -1.44px;
}

@mixin map-circle($size) {
    content: '';
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: $size; height: $size;
    border-radius: 100%;
}
// ====================================JJ MIXIN====================================



// ====================================default css====================================
body {
    /* 
        lity.js
        close_btn primary $color
    */
    .lity-close {color: $color-100 !important; }
    .fixed_layout {@include fixed-layout();}
    // a link hover effect
    a.a_link {@include transition(.15s);&:hover { color: $color-100; }}
    .non_link {cursor: default;}
    

    // icon
    .ico {
        display: inline-block; vertical-align: middle;
        // dots
        &.ico_01 {width: 4px; height: 4px; background-color: #666; border-radius: 100%} 
    }

    // default
    .btn_01 {
        @include transition(.15s);
        width: 160px; height: 50px;
        display: inline-block;
        font-size: 14px; font-weight: 600;
        
        border: 1px solid $color-100;
        background-color: $color-100;
        color: #fff; 
    

        span {
            @include font-M();
            @include transition(.15s);
            @include flexCenter();
            width: 100%; height: 100%;
        }
    }

    
    /* 
        table_공통 게시판
        
            #table_header

            #table_body - list type
            #table_gallery - gallery type

            #table_footer
    */

    #table_default {
        // table_header
        #table_header {
            margin: 2rem auto ;
            display: flex; justify-content: space-between;
            // search
            .table_text_search {
                display: flex; align-items: center;
                .search_form {
                    fieldset {
                        legend {display: none;}
                        display: flex; align-items: center;

                        // form
                        .form_02_selectbox {
                            flex-wrap: wrap;
                            $height: 40px;
                            select, .nice-select {
                                border: 1px solid #ddd;
                                width: 90px; height: $height;
                                margin-right: 6px; padding-left: 14px;
                            }

                            input[type=text] {
                                height: $height; width: 220px;
                                border: 1px solid #ddd;
                                margin-right: 6px;
                                padding: 0 10px;
                            }

                            input[type=submit] {
                                height: $height;
                                background: #000;
                                color: #fff;
                                border: none;
                                padding: 1rem 2rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

        }

        // list type type_01
        #table_body {
            width: 100%;
            line-height: 1.78;
            letter-spacing: -0.45px;
            table-layout: fixed;

            thead {
                border-top: 1px solid #333; border-bottom: 1px solid #ddd;
                background-color: #f4f4f4;
                @include font-18();

                tr {
                    th {
                        padding: 20px 10px; text-align: center; font-weight: 400;

                        &.table_type, &.table_state, &.table_num, &.table_download, &.table_hits {
                            width: 10%;
                        }
                        &.table_data, &.table_data_02 {
                            width: 15%;
                        }
                        &.width_01 {width: 5%}
                    }
                }
            }

            tbody {
                @include font-18();
                display: none; 

                tr {
                    border-bottom: 1px solid #ddd;

                    .color_01 {color: #666;}
                    .color_02 {color: #333;}
                    td {
                        padding: 20px 0; @include board_text(); text-align: center; 
                        
                        .download {
                            ion-icon {width: 25px; height: 25px;}
                        }
                        &.table_type {
                            .type {
                                @include flexCenter();
                                width: 120px; height: 50px; margin: 0 auto;
                                border-radius: 25px; color: #333;
                                &.type_01 { background-color: $color-100; color: #fff}
                                &.type_02 { background-color: #1a3968; color: #fff}
                            }  
                        } 
                    }
                }

                // active, hover
                &.active { display: table-footer-group; }
            }
        }

        // gallery type type_01
        #table_gallery {
            margin-top: 60px;
            .gallery_wrap {
                display: flex; flex-wrap: wrap;
                .gallery_list {
                    @include transition(.3s);
                    width: 350px; border: 1px solid #ddd;
                    margin: 0 26px 60px 0; overflow: hidden;
                    // hover, active
                    &:hover, &:active {border: 1px solid $color-100;}
                    &:nth-child(4n) {margin: 0 0 60px 0;}

                    .img_wrap {
                        width: 350px; height: 280px;
                        background-color: #f5f5f5;
                        img {object-fit: cover; height: 100%;}
                    }
                    figcaption {
                        padding: 40px;
                        .text_01 {
                            @include font-18();
                            color: #666;
                            .table_type {font-weight: bold; }
                            .text_br {display: inline-block;width: 2px; height: 16px;background: #ddd; margin: 0 14px;}
                            .table_data {font-weight: 300;}
                        }
                        .text_02 {
                            margin-top: 20px;
                            .table_detail { @include board_text(); display: block;font-size: 24px;font-weight: bold;line-height: 1.5;letter-spacing: -0.96px;color: #333;}
                        }
                    }

                }
    
            }
        }

        //table_footer 
        #table_footer {
            margin-top: 100px;
            @include flexCenter();

            .num_box {
                a {
                    @include font-M();
                    position: relative;
                    font-size: 16px; font-weight: 300; color: #333;
                    margin: 0 20px;
                    &::after {
                        content: '';
                        @include transition(.15s);
                        position: absolute; left: 50%; top: -10px; transform: translateX(-50%);
                        width: 5px; height: 5px; background-color: $color-100; border-radius: 100%;
                        opacity: 0;
                    }

                    // active
                    &.active {
                        color: $color-100; font-weight: bold;
                        &::after { opacity: 1; }
                    }
                }
            }

            .btn_box {
                display: flex;
                a {
                    display: flex; align-items: center; justify-content: center;
                    width: 20px; height: 20px;
                    margin: 0 5px; color: #666;
                }

            }
        }
    }
    
    /* 
        table_공통 상세보기
    */
    #table_default_more {
        .table_notice {
            table-layout: fixed;
            width: 100%; line-height: 1.78; letter-spacing: -0.45px; 

            thead {
                font-size: 1.8rem;
                color: #222; letter-spacing: -0.6px;
                border-top: 2px solid #1e3c5a; border-bottom: 1px solid #e6e6e6;

                tr {

                    &:first-child {font-size: 18px;}
                    th {padding: 20px;}
                    td {a {display: block;}}
                    .table_notice_title {
                        width: auto;
                        font-size: 18px;text-align: left;vertical-align: middle;
                        &.full_size {width: 100%; text-align: center;}
                    }

                    .table_notice_data {
                        width: 20%;
                        font-size: 13px;text-align: right;color: #999;
                    }

                    .file_download {
                        .down_link {
                            padding: 5px;
                            text-align: right;
                        }
                    }

                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #e5e5e5;

                    .table_notice_detail {
                        font-size: 16px;
                        padding: 20px;
                    }
                }
            }
            
        }

        .table_notice_more {
            display: flex; justify-content: flex-end; 
            margin-top: 40px;

            >a {
                @include transition(.3s);
                display: inline-block;
                padding: 10px 26px;
                font-size: 14px; color: #fff;
                background: #000;
                

                &:hover {color: #fff; background: rgba($color: #000000, $alpha: .5);}
            }
        }
    }


    /*
        search box 
    */
    #search_box_popup {
        width: 90vw; height: 90vh;
        overflow: auto; z-index: 99999;
        padding: 100px; background: #fff;
        button[type=submit] {border: none; background-color: $color-100;}
        .product-inner {img {width: 200px; height: 200px; object-fit: cover;}}
    }
    
    /* 
        fixed_quick ico.

            #quick_ico_01 - footer_video_banner
    */
    #quick_ico_01 {
        position: fixed; right: 3%; bottom: 5%;
        z-index: 9989;

        // active, hover
        &:hover {figure { opacity: .7 }}

        figure {
            @include transition(.15s);
            @include flexCenter(); flex-direction: column;
            width: 100px; height: 100px;
            background: $color-100; border-radius: 100%;
            .ico_wrap {}

            .text_01 { 
                margin-top: 5px;
                font-size: 14px; font-weight: 500;color: #fff;
            }
            
        }
    }
}
// ====================================default css====================================


// ==================================== header, footer ====================================
body {
    #header {
        @include header-height();
        position: relative;
        .header_wrap {
            @include fullsize();
            display: flex; align-items: center;
            border-bottom: 1px solid #ddd;
            padding-left: 178px;
            >nav {
                &.header_left {
                    width: 350px; min-width: 350px;
                }
                &.header_center {
                    > ul {
                        display: flex; align-items: center;
                        > li {
                            &:last-child {margin-right: 0;}
                            i {width: 4px; height: 4px; background: #ddd; border-radius: 100%; margin: 0 30px;}
                            a { font-size: 18px; letter-spacing: -0.36px;
                                color: #333;
                                &.active {
                                    color: $color-100; font-weight: bold;
                                }
                            }
                        }
                    }
                }
                &.header_right {
                    margin-left: 100px;
                    > ul {
                        display: flex; align-items: center;
                        > li {
                            a { font-size: 15px; letter-spacing: -0.3px; color: #666; }
                            i { margin: 0 20px;}
                        }
                    }
                }
            }
        }

        .header_full {
            position: absolute; left: 0; top: calc(100% - 1px);
            width: 100%; height: 200px; 
            border-bottom: 4px solid $color-100;
            display: none;
            &.active {
                display: block;
            }
            .header_full_wrap {
                @include fullsize();
                padding-left: 178px;
                .header_full_list {
                    @include fullsize();
                    display: flex;
                    .title {
                        width: 350px; height: 100%; min-width: 350px;
                        border-right: 1px solid #ddd;
                        .title_wrpa {
                            padding: 50px 0 0 0;
                            h2 {
                                @include font-gmark-bold();
                                font-size: 36px; font-weight: bold; line-height: 1; letter-spacing: -1.44px; color: #333;
                            }
                            p { 
                                margin-top: 20px;
                                font-size: 16px; line-height: 1.38; letter-spacing: -0.32px; color: #666; }
                        }
                       
                    }
                    .content {
                        .content_wrap  {
                            padding: 50px 0 0 38px;
                            display: flex; flex-wrap: wrap;
                            li {
                                width: 180px; padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-right: 20px; 
                                margin-bottom: 40px;
                                a { font-size: 18px; letter-spacing: -0.36px; }
                                &:last-child {margin-right: 0;}
                                &.active { border-bottom: 1px solid $color-100; 
                                    a {
                                        color: $color-100; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    
    
}
// ==================================== header, footer ====================================




// ==================================== page css ====================================
// ==================================== page css ====================================
// ==================================== page css ====================================

body {
    main {
        &#main_page {
            .main_section {
                &.section_01 {
                    position: relative;
                    margin-top: 80px;
                    .wrap {
                        h4 {@include font-gmark-m(); font-size: 20px; letter-spacing: -0.4px; }
                        h1 {
                            margin-top: 20px;
                            @include font-gmark-m(); font-size: 40px; line-height: 1.35; letter-spacing: -1.6px;

                            em {
                                @include font-gmark-bold();
                                position: relative;
                                &::after {
                                    content: '';
                                    position: absolute; left: 0; bottom: 0;
                                    width: 100%;
                                    height: 20px;
                                    background-color: #169efe;
                                    opacity: 0.12;
                                }
                            }
                        }
                    }
                    .member_section {
                        position:absolute;right: 0; top: 0;
                        width: 710px; height: 450px;
                        display: flex;
                        .box {
                            width: 310px; height: 310px;
                            border-radius: 25px;
                            &.box_user {
                                margin-top: 75px;
                                background-color: #0161da;
                                border-bottom-right-radius: 0;
                                .login {
                                    padding: 40px 25px;
                                }
                            }
                            &.box_cs {
                                margin-top: 125px;
                                background-color: #01afee;
                                border-bottom-left-radius: 0;
                            }
                        } 
                        .fixed_img {
                            position: absolute; right: 0; top: 0;
                        }
                    }
                } 

             
            }
        }
    }
}


// ==================================== page css ====================================
// ==================================== page css ====================================
// ==================================== page css ====================================












// ==================================== KEYFRAMES ====================================
@keyframes rotateinfin {
    0%{transform:rotate(0); }
    100%{transform:rotate(360deg);}
}

@keyframes dash {
    90% {stroke-dashoffset: 0;}
    100% {fill: $color-100;}
}
@keyframes dotscolor {
    10% {background: red;}
    30% {background: orange;}
    50% {background: yellow;}

    70% {background: green;}
    100% {background: blue;}
}

@keyframes dotscolor_02 {
    10% {color: red;}
    30% {color: orange;}
    50% {color: yellow;}
    70% {color: green;}
    100% {color: blue;}
}

@keyframes barload {
    0% {width: 0}
    100% {width: 100%}
}

@keyframes mapCircle_01 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes mapline_01 {
    0% {height: 0;}
    100% {height: 60px;}
}

// ==================================== KEYFRAMES ====================================
